* {
/* THIS SETS THE MARGIN AND PADDING TO 0 FOR THE ENTIRE PAGE */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
/* THIS SETS THE BODY BACKGROUND TO GREEN TO PREVENT WHITE SPACE BELOW THE FOOTER */
    background-color: #214E34;
}

header { 
/* THIS IS THE MAIN HEADER CONTAINER.  IT HOLDS THE HEADER, LOGO IMAGE, BANNER IMAGE */
    display: flex;
    flex-direction: row;
    Font-Size: 40px;
    height: 200px;
    background-color: #EFC0CA;
    border-bottom: 2px #EFC0CA solid;
    Font-Family: 'Questrial', Sans-Serif;
    background-image: url("./images/PFAbanner2.png");
}

main{
/* MAIN BODY OF THE ENTIRE PAGE.  COVERS LEFT TO RIGHT */
    display: flex;
    flex-direction: row;
}
#leftSection{
/* MAIN CONTAINER FOR THE LEFT SECTION OF SITE */
    width: 425px;
    height: auto;
    display: flex;
}
nav{
/* CONTAINER THAT HOLDS STATE/PARK/BIZARRERY/EATERY SLECTION BOXES */
    width: 100%;  
    display: flex;
    flex-direction: column;
    background-color: #979B8D;
    border-right: 2px #EFC0CA solid;
    border-bottom: 2px #EFC0CA solid;
    justify-content: space-around;
}
nav .h3Text{
/* COVERS ALL TEXT IN THE LEFT NAV PANE */
    display: flex;
    justify-content: center;
}
#saveTrip{
/* CONTAINER THAT WILL HOLD THE SAVE TRIP BUTTON */
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
}
#saveTripButton{
/* THIS IS THE SAVE TRIP BUTTON, OBVIOUSLY */
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 1.7em;
    align-items: center;
    background-color: #EFC0CA;
    border-radius: 8px;
}


#middleSection {
/* SETS THE WIDTH AND HEIGHT OF THE MIDDLE SECTION */
    width: 1370px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-right: 2px #EFC0CA solid;
    border-bottom: 2px #EFC0CA solid;
}
#tripPreviewHeader {
    display: flex;
    justify-content: center;
}
#weather {
/* CONTAINER FOR THE WEATHER API INFO */
    display: flex;
    height: 167.75px; /* THIS IS AN EVEN DISTRIBUTION AMOUNT FOR 4 CONTAINERS */
    justify-content: center;
    align-items: center;
}


/* BEGIN SECTION OF NATIONAL PARK INFORMATION */
#natlParkContainer {
    height: 167.75px; /* THIS IS AN EVEN DISTRIBUTION AMOUNT FOR 4 CONTAINERS */
    width: 100%;
    overflow: hidden;
}
#natlParkText {
    display: flex;
    justify-content: center;
}
#parkDetailsContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 120px;
    padding-left: 50px;
    padding-top: 25px;
}
#parkDetailsButton {
    height: 25px;
    width: 75px;
    font-weight: bold;
    background-color: #EFC0CA;
    
}
/* END SECTION OF NATION PARK INFORMATION */


/* BEGIN SECTION OF BIZARRERY INFORMATION */
#bizarreryContainer {
    height: 167.75px; /* THIS IS AN EVEN DISTRIBUTION AMOUNT FOR 4 CONTAINERS */
    width: 100%;
    overflow: hidden;
}
#bizarreryText {
    display: flex;
    justify-content: center;
}
#bizarreryDetailsContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 120px;
}
#bizarreryDetailsButton {
    height: 25px;
    width: 75px;
    font-weight: bold;
    background-color: #EFC0CA;
}
/* END SECTION OF BIZARRERY INFORMATION */


/* BEGIN SECTION OF EATERY INFORMATION */
#eateryContainer {
    height: 167.75px; /* THIS IS AN EVEN DISTRIBUTION AMOUNT FOR 4 CONTAINERS */
    width: 100%;
    overflow: hidden;
}
#eateryText {
    display: flex;
    justify-content: center;
}
#eateryDetailsContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 120px;
}
#eateryDetailsButton {
    height: 25px;
    width: 75px;
    font-weight: bold;
    background-color: #EFC0CA;
}
/* END SECTION OF EATERY INFORMATION */



#rightSection {
    width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #214E34;
}
#myTripsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#myTripsText {
    display: flex;
    justify-content: center;
    color: white;
}
#savedTripData {
    width: 100%;
    height: 675px;
    display: flex;
    justify-content: center;
}


footer {
    background-color: #214E34;
}
footer p {
    display: flex;
    justify-content: center;
}
#meetTheTeamButton {
    display: flex;
    justify-content: center;
}

#parkImage {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 200px;
}

#parkImage img {
    
    width: auto;
    height: auto;
}

.parkImageDetail {
    display: flex;
    flex-direction: column;  
    padding-left: 20px;
    align-items: left;
    
}
.parkImageDesc {
    padding-top: 10px;
    display: flex;
    align-items: left;


}