* {
/* THIS SETS THE MARGIN AND PADDING TO 0 FOR THE ENTIRE PAGE */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
/* THIS SETS THE BODY BACKGROUND TO GREEN TO PREVENT WHITE SPACE BELOW THE FOOTER */
    background-color: #214E34;
    
}

header { 
/* THIS IS THE MAIN HEADER CONTAINER.  IT HOLDS THE HEADER, LOGO IMAGE, BANNER IMAGE */
    display: flex;
    flex-direction: row;
    Font-Size: 40px;
    height: 170px;
    background-color: #EFC0CA;
    border-bottom: 2px #EFC0CA solid;
    Font-Family: 'Questrial', Sans-Serif;
    background-image: url("./images/PFAbanner2.png");
    
    
}

main{
/* MAIN BODY OF THE ENTIRE PAGE.  COVERS LEFT TO RIGHT */
    display: flex;
    flex-direction: row;
}
#leftSection{
/* MAIN CONTAINER FOR THE LEFT SECTION OF SITE */
    width: 425px;
    height: auto;
    display: flex;
}
nav{
/* CONTAINER THAT HOLDS STATE/PARK/BIZARRERY/EATERY SLECTION BOXES */
    width: 100%;  
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#979B8D, #EFC0CA,#979B8D );
    border-right: 2px #EFC0CA solid;
    border-bottom: 2px #EFC0CA solid;
    justify-content: space-around;
}
nav .h3Text{
/* COVERS ALL TEXT IN THE LEFT NAV PANE */
    display: flex;
    justify-content: center;
}
/* THIS IS WHERE YOU RESIZE DROPDOWNS IN NAVBAR */
.navState {
   
    width: 375px;
}
.navStateField {
    margin-left: 10px;
    margin-right: 10px;
}
.navPark {
    width: 375px;
}
.navParkField {
    margin-left: 10px;
    margin-right: 10px; 
}
.navBiz {
    width: 375px;
}
.navBizField {
    margin-left: 10px;
    margin-right: 10px;
}
.navEat {
    width: 375px; 
}
.navEatField {
    margin-left: 10px;
    margin-right: 10px;
}

.navEatName {
   margin-left: 20px;
}
#saveTrip{
/* CONTAINER THAT WILL HOLD THE SAVE TRIP BUTTON */
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
}
#saveTripButton{
/* THIS IS THE SAVE TRIP BUTTON, OBVIOUSLY */
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 1.7em;
    align-items: center;
    background-image: radial-gradient(white,#EFC0CA);
    border-radius: 8px;
}


#middleSection {
/* SETS THE WIDTH AND HEIGHT OF THE MIDDLE SECTION */
    width: 1370px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-right: 2px #EFC0CA solid;
    border-bottom: 2px #EFC0CA solid;
    
}
#tripPreviewHeader {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
#weather {
/* CONTAINER FOR THE WEATHER API INFO */
    display: flex;
    height: 167.75px; /* THIS IS AN EVEN DISTRIBUTION AMOUNT FOR 4 CONTAINERS */
    justify-content: center;
    align-items: center;
}


/* BEGIN SECTION OF NATIONAL PARK INFORMATION */
#natlParkContainer {
    height: 167.75px; /* THIS IS AN EVEN DISTRIBUTION AMOUNT FOR 4 CONTAINERS */
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
#natlParkText {
    display: flex;
    justify-content: center;
}
#parkDetailsContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 120px;
    
}
/* .parkDetailButton {
    padding-top: 93px;
    padding-right: 20px;
} */
#parkDetailsButton {
    height: 25px;
    width: 75px;
    font-weight: bold;
    background-color: #EFC0CA;
    margin-top: 10px;
    margin-left: 20px;
    
}

.parkDetailAndButton {
    display: flex;
    justify-content: flex-start;
    margin-right: 375px;
    padding-left: 20px;
    padding-top: 10px;
    
    
}
/* END SECTION OF NATION PARK INFORMATION */


/* BEGIN SECTION OF BIZARRERY INFORMATION */
#bizarreryContainer {
    height: 167.75px; /* THIS IS AN EVEN DISTRIBUTION AMOUNT FOR 4 CONTAINERS */
    width: 100%;
    overflow: hidden;
}
#bizarreryText {
    display: flex;
    justify-content: center;
}
#bizarreryDetailsContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 120px;
}
#bizarreryDetailsButton {
    height: 25px;
    width: 75px;
    font-weight: bold;
    background-color: #EFC0CA;
    
    
}

.bizName {
    display: flex;
    align-items: left;
    padding-left: 20px;
    
    
}
.bizDesc {

    display: flex;
    align-items: left;
    padding-left: 20px;
    /* padding-right: 500px; */
    padding-top: 10px;
    margin-right: 400px;

}

.bizDetailButton {

    display: flex;
    justify-content: flex-start;
    margin-right: 375px;
    padding-left: 20px;
    padding-top: 10px;
       

}
/* END SECTION OF BIZARRERY INFORMATION */


/* BEGIN SECTION OF EATERY INFORMATION */
#eateryContainer {
    height: 200.75px; /* THIS IS AN EVEN DISTRIBUTION AMOUNT FOR 4 CONTAINERS */
    width: 100%;
    overflow: hidden;
}
#eateryText {
    display: flex;
    justify-content: center;
}
#eateryDetailsContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 120px;
    margin-bottom: 500px;
}
#eateryDetailsButton {
    height: 25px;
    width: 75px;
    font-weight: bold;
    background-color: #EFC0CA;
    
    
    
    
}

.eatDesc {
    display: flex;
    align-items: left;
    padding-left: 20px;
    /* padding-right: 500px; */
    padding-top: 10px;
    margin-right: 400px;
}

.eatDetailsButton {
    display: flex;
    justify-content: flex-start;
    margin-right: 375px;
    padding-left: 20px;
    padding-top: 10px;

}

.eatName {
padding-left: 20px;
}
/* END SECTION OF EATERY INFORMATION */



#rightSection {
    width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#214E34,#153321,#214E34);
}
#myTripsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#myTripsText {
    display: flex;
    justify-content: center;
    color: white;
}
#savedTripData {
    width: 100%;
    height: 675px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}
#singleTrip{
    border: #EFC0CA solid 2px;
    margin: 4px 4px 4px 4px;
}
footer {
    background-color: #214E34;
}
.footerText {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
#meetTheTeamButton {
    display: flex;
    justify-content: center;
}
#parkImage {
    display: flex;
    flex-direction: right;
    width: 75%;
    height: 200px;
    padding-right: 20px;
}
#parkImage img {
    width: auto;
    height: auto;
    
}
.parkImageDetail {
    display: flex;
    flex-direction: row;  
    padding-left: 20px;
    align-items: left;
}
.parkImageDesc {
    padding-top: 10px;
    display: flex;
    align-items: left;
    padding-left: 20px;
    padding-right: 20px;
}

.parkRow {
    display: flex;
    flex-direction: row;
}

/* THIS IS FOR THE STYLING OF DETAIL BUTTONS & MODALS */

#parkDetails   {  
  color:black;
  background:#EFC0CA;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 300px;
}

#eatDetails {

    color:black;
    background:#EFC0CA;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;

}

#bizDetails {

    color: black;
    background:#EFC0CA;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
}

.modalParkText {
    display: flex;
    justify-content: center;
}
